---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    {% if page.video_background %}
    <div class="video-background">
      <video autoplay muted loop playsinline>
        <source src="{{ base_path }}/images/calder-bg-loop.webm" type="video/webm">
        <source src="{{ base_path }}/images/calder-bg-loop.mp4" type="video/mp4">
      </video>
    </div>
    {% endif %}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
